.header {
    background-color: #011538;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

li {
    list-style: none;
}

* {
    color: #ffffff;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul > li {
    margin: 0 10px;
}

h1 > a {
    text-decoration: none;
}

.toogle-menu {
    cursor: pointer;
    padding: 8px;
}

