<div class="permission-manager">

    <div>
        <h3>Granted permissions</h3>

        <p-table [value]="(permissions$ | async)!">
            <ng-template pTemplate="header">
                <tr>
                    <th>sub</th>
                    <th>obj</th>
                    <th>act</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-authz>
                <tr>
                    <td>{{authz.permission.sub}}</td>
                    <td>{{authz.permission.obj}}</td>
                    <td>{{authz.permission.act}}</td>
                    <td><button pButton *ngIf="authz.hasPermission" type="button" class="p-button-rounded p-button-danger p-button-text" icon="pi pi-trash" (click)="removePermission(authz)"></button></td>
                </tr>
            </ng-template>
        </p-table>

        <form [formGroup]="permissionFormGroup">
            <td>
                <p-dropdown [options]="(actions$ | async)!" formControlName="selectedAction" optionLabel="label" placeholder="Select an action" (onChange)="onSelectedAction($event)"></p-dropdown>
            </td>
            <td>{{obj}}</td>
            <td>
                <p-dropdown [options]="(subjects$ | async)!" formControlName="selectedSubject" optionLabel="label"></p-dropdown>
            </td>
            <td>
                <div class="actions flex justify-content-end gap-2">
                    <div class="right flex align-items-end gap-2">
                        <button pButton type="submit" label="Add" class="p-button-primary" icon="pi pi-save" [disabled]="!permissionFormGroup.valid" (click)="addPermission()"></button>
                    </div>
                </div>
            </td>
        </form>

    </div>
</div>

