<div class="search-documents">
  <div class="search-before">
    <i class="pi pi-search"></i>
  </div>
  <p-autoComplete
                  [(ngModel)]="selectedItem"
                  [suggestions]="matchingQueryDocuments?.items || []"
                  (completeMethod)="searchDocuments($event)"
                  (onSelect)="onSelect($event)"
                  (onBlur)="clear()"
                  placeholder="Search a document"
  >
    <ng-template let-entry pTemplate="item">
      <div class="search-entry">
        <div class="search-entry-row">
          <i class="pi" [class]="getSuggestionsLabels(entry).icon"></i>
          <span class="name">{{getSuggestionsLabels(entry).name}}</span>
        </div>
        <a (click)="openDirectory(entry.id)" class="path">{{entry.path}}</a>
      </div>
    </ng-template>
  </p-autoComplete>
  <div class="search-after" (click)="clear()">
    <i class="pi pi-times"></i>
  </div>
</div>
