<div class="search-documents">
  <p-autoComplete
                  [(ngModel)]="selectedItem"
                  [suggestions]="matchingQueryDocuments?.items || []"
                  (completeMethod)="searchDocuments($event)"
                  (onSelect)="onSelect($event)"
                  placeholder="Search a document"
  >
    <ng-template let-entry pTemplate="item">
      <div class="search-entry">
        <div class="search-entry-row">
          <i class="pi" [class]="getSuggestionsLabels(entry).icon"></i>
          <span class="name">{{getSuggestionsLabels(entry).name}}</span>
        </div>
        <a (click)="openDirectory(entry.id)" class="path">{{entry.path}}</a>
      </div>
    </ng-template>
  </p-autoComplete>
</div>
