<div class="document-list">
    <h1>File explorer</h1>

    <p-breadcrumb [model]="pathList" [home]="home"></p-breadcrumb>

    <p-toolbar>
        <div class="p-toolbar-group-start">
            <p-button label="New" icon="pi pi-folder" (onClick)="showDialogCreateDirectory()"></p-button>            
            <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success" (onClick)="fileinput.click()"></p-button>
            <input #fileinput type="file" accept="*" (change)="onSelectedFile($event)" style="display:none">
        </div>
    
        <div class="p-toolbar-group-end">
            <p-button icon="pi pi-search"></p-button>
        </div>
    </p-toolbar>

    <div class="card document-list-container">
        <p-table [value]="(nodeList$ | async)!" dataKey="uuid" [scrollable]="true" scrollHeight="600px" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="filename">Filename <p-sortIcon field="filename"></p-sortIcon></th>
                    <th pSortableColumn="creator">Creator <p-sortIcon field="creator"></p-sortIcon></th>
                    <th pSortableColumn="createdAt">Created at <p-sortIcon field="createdAt"></p-sortIcon></th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-node>
                <tr [pContextMenuRow]="node">
                    <td class="col-filename" (click)="onNodeSelected(node)">
                        <img src="{{getIcon(node)}}" alt="file icon">
                        <span>{{ node.properties | property: 'cm:name' }}</span>
                    </td>
                    <td>{{ node.properties | property: 'cm:creator-name' || "System" }}</td>
                    <td>{{ node.properties | property: 'cm:created-at' | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td class="col-actions">
                        <a (click)="onClickMenu(menu, $event, node)" class="toogle-menu">...</a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-menu #menu [popup]="true" [model]="items"></p-menu>

    <p-dialog *ngIf="createDirectoryForm" header="Create a new directory" [(visible)]="displayModalCreateDirectory" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [closable]="false">
        <form [formGroup]="createDirectoryForm" (ngSubmit)="createDirectory()" class="w-full">
            <h3>Location {{currentPath}}</h3>
            <div class="flex flex-column">
                <div class="form-fields flex flex-column">
                    <div class="field flex flex-column">
                        <input type="text" pInputText formControlName="newDirectoryName"/>
                        <small class="p-error" *ngIf="createDirectoryForm.get('newDirectoryName')?.invalid && createDirectoryForm.get('newDirectoryName')?.dirty ">Directory name is invalid</small>
                    </div>
                </div>
            </div>

            <div class="actions flex justify-content-end gap-2">
                <div class="right flex align-items-end gap-2">
                    <button pButton type="button" label="Cancel" class="p-button-secondary" icon="pi pi-times" (click)="displayModalCreateDirectory = false"></button>
                    <button pButton type="submit" label="Create" class="p-button-primary" icon="pi pi-save" [disabled]="createDirectoryForm.invalid"></button>
                </div>
            </div>
        </form>
    </p-dialog>

    <p-dialog *ngIf="renameForm" header="Rename" [(visible)]="displayModalRename" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [closable]="false">
        <form [formGroup]="renameForm" (ngSubmit)="rename()" class="w-full">
            <div class="flex flex-column">
                <div class="form-fields flex flex-column">
                    <div class="field flex flex-column">
                        <input type="text" pInputText formControlName="newNodeName"/>
                        <small class="p-error" *ngIf="renameForm.get('newNodeName')?.invalid && renameForm.get('newNodeName')?.dirty ">Name is invalid</small>
                    </div>
                </div>
            </div>

            <div class="actions flex justify-content-end gap-2">
                <div class="right flex align-items-end gap-2">
                    <button pButton type="button" label="Cancel" class="p-button-secondary" icon="pi pi-times" (click)="closeDialogRename()"></button>
                    <button pButton type="submit" label="Rename" class="p-button-primary" icon="pi pi-save" [disabled]="renameForm.invalid"></button>
                </div>
            </div>
        </form>
    </p-dialog>

</div>
