ul {
    list-style-type: none;
}

.document-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .document-list-container {
        width: 100%;

        .col-filename {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            img {
                margin: 0 8px;
                height: 24px;
            }
        }

        .col-actions {
            width: 50px;
            text-align: center;
        }

        .toogle-menu {
            cursor: pointer;
            padding: 8px;
        }
    }
}

p-breadcrumb {
    margin: 16px 0;
    align-self: flex-start;
}

p-toolbar {
    width: 100%;

    p-button {
        margin: 0 8px;
    }
}
