<div class="sidebar">
  <div class="menu-container">
    <nav class="menu">
      <div class="menu-items">
        <a [routerLink]="['/']" routerLinkActive="active-link" class="menu-item"><span class=" pi pi-file"></span>Document explorer</a>
        <app-tree-view [rootNodeId]="1"></app-tree-view>
      </div>
    </nav>
  </div>

  <div class="sidebar-footer">
    <p>Version:<span>1.0.0-SNAPSHOT</span></p>
    <a (click)="console.log('display info')" class="info"><span class="pi pi-info-circle"></span></a>
  </div>
</div>
