<div class="dropdown">
    <div>
        <i [ngClass]="styleClass" class="mr-2"></i>
        <span>{{label}}</span>
        <i class="pi pi-angle-down ml-2"></i>
    </div>
    <div class="dropdown-content" *ngFor="let item of list">
        <!-- <button pButton type="button" [label]="item.label" [ngClass]="item.styleClass" [icon]="item.classIcons || ''" (click)="clickAction(item.action)"></button> -->
        <a [ngClass]="item.styleClass" class="item" (click)="itemAction(item.action)">
            <i [ngClass]="item.classIcons || ''"></i>
            {{item.label}}
        </a>
    </div>
</div>
