/* You can add global styles to this file, and also import other style files */

@import 'primeflex/primeflex.scss';

@import 'duckcloud-theme';

html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    //overflow: hidden;
    background-color: $theme-palette-color-6;
}

.card {
  background: $theme-palette-color-7;
  margin: 16px 0;
  border-radius: 4px;
}

a[type="button"] {
    text-decoration: none;
}

.menu-text-color-danger {
    * {
        color: #f44336 !important;
    }
}

.page-title {
  align-self: flex-start;
  font-size: 1.7em;
  margin: 0 16px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  padding-top: 16px;
}

//* {
//  scrollbar-width: thin;
//  scrollbar-color: $primary-color $theme-palette-color-6;
//}
