/* You can add global styles to this file, and also import other style files */

@import 'primeflex/primeflex.scss';

html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a[type="button"] {
    text-decoration: none;
}

.menu-text-color-danger {
    * {
        color: #f44336 !important;
    }
}
